.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.slick-track {
    display: flex; /* Ensure proper alignment for centerMode */
}

.slick-list {
    overflow: hidden; /* Prevent items from overflowing */
}
